*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:'Montserrat',sans-serif;
}

body{
    background: linear-gradient(
      180deg,
      #3d73ff,
      #2958d9
    );
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.logo img {
  height: 130px;
}

nav a{
 margin:0 15px;
 text-decoration:none;
 color:#ffffff;
 font-weight:600;
}

/* BOTÃO MENU */
.menu-btn{
    font-size:32px;
    color:#fff;
    cursor:pointer;
    margin-left:auto;
}

.menu-btn{
    position:absolute;
    left: 25px;
    top:35px;
    font-size:32px;
    color:#fff;
    cursor:pointer;
}

/* MENU LATERAL */
.sidebar-menu{
    position:fixed;
    top:0;
    left:-300px;
    width:260px;
    height:100%;
    background:#111;
    padding:30px 20px;
    transition:0.4s;
    z-index:99999;
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* MENU ABERTO */
.sidebar-menu.open{
    left:0;
}

.sidebar-menu h2{
    color:#fff;
    margin-bottom:20px;
}

.sidebar-menu a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

.sidebar-menu a:hover{
    color:#3676ff;
}

/* BOTÃO FECHAR */
.fechar{
    color:#fff;
    font-size:25px;
    cursor:pointer;
    align-self:flex-end;
}

.menu-category{
    margin-bottom:30px;
}

.menu-category h3{
    color:#3676ff;
    margin-bottom:15px;
    font-size:18px;
}

.menu-category a{
    display:block;
    color:#fff;
    text-decoration:none;
    margin-bottom:12px;
    font-size:16px;
    transition:0.3s;
}

.menu-category a:hover{
    color:#3676ff;
    padding-left:5px;
}

.produto-page{
    display:grid;
    grid-template-columns: 1fr 400px;
    gap:40px;
    padding:40px;
    max-width:1400px;
    margin:auto;
}

.produto-imagens{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.produto-imagens img{
    width:100%;
    border-radius:10px;
}

.produto-info{
    color:white;
    position:sticky;
    top:20px;
}

.produto-info h1{
    font-size:36px;
    margin-bottom:20px;
}

.produto-preco{
    font-size:32px;
    font-weight:bold;
    margin-bottom:20px;
}

.produto-stock{
    margin-bottom:20px;
}

@media(max-width:768px){

.produto-page{
    grid-template-columns:1fr;
    padding:20px;
}

.products{
    grid-template-columns: 1fr 1fr;
}

.produto-imagens{
    grid-template-columns:1fr;
}

.produto-info h1{
    font-size:28px;
}

}

.search{
 border:1px solid #ddd;
 padding:8px 12px;
 border-radius:20px;
}

/* BANNER */
.banner{
 height: 580px;
 background:
 linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
 url('imagens/banner-site.png') center/cover;
 display:flex;
 align-items:center;
 justify-content:center;
 color:#fff;
 font-size:28px;
 font-weight:800;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* LAYOUT */
.container{
 display:flex;
 padding:30px;
}

.sidebar{
 width:220px;
}

.products{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    padding:30px;
    max-width:1400px;
    margin:auto;
}

.card{
    width:200px;
}

.card{
    background: rgba(255,255,255,.08);
    backdrop-filter: blur(10px);
}

/* CARD */
.card{
 cursor:pointer;
 color: #eee;
}

.card{
    transition: .3s;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

.card-img{
 position:relative;
 overflow:hidden;
}

.card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card button{
    background: #000;
    border-radius: 10px;
    transition: .3s;
}

.card button:hover{
    background: #222;
    transform: scale(1.02);
}


.card h3{
 font-size:14px;
 margin:10px 0 5px;
}

.price{
    font-size: 28px;
    font-weight: 800;
}

.stock{
 font-size:11px;
 color:#ffffff;
 margin:5px 0;
}

/* FORM */
select{
 width:100%;
 padding:8px;
 margin-top:5px;
 border:1px solid #ddd;
}

button{
 width:100%;
 padding:10px;
 margin-top:8px;
 background:#000;
 color:#fff;
 border:none;
 cursor:pointer;
 font-weight:600;
}

button:hover{
 background:#333;
}

/* CART */

.cart-btn{
 color:#fff;
 padding:8px 12px;
 border-radius:20px;
}

.cart-btn:hover{
 background:rgba(255,255,255,0.15);
}

.cart{
color: #000;
 position:fixed;
 top:0;
 right:-350px;
 width:350px;
 height:100%;
 background:#fff;
 box-shadow:-5px 0 20px rgba(0, 0, 0, 0.1);
 transition:.3s;
 padding:20px;
 display:flex;
 flex-direction:column;
 font-weight: 800;
}

.cart.open{
 right:0;
}

.cart h2{
 margin-bottom:15px;
 color: #000000;
}

.cart-items{
 flex:1;
 overflow:auto;
}

.cart-item{
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;

    color: #000; /* TEXTO PRETO */
}

.cart-item p{
    color: #000;
    margin: 5px 0;
    font-size: 16px;
    font-weight: 600;
}

.cart-item button{
    background: transparent;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.cart button{
 background:#18aaffe0;
}

.cart-btn{
 color:#ffffff;
}
.close-cart{
 float:right;
 cursor:pointer;
 font-size:18px;
 font-weight:bold;
}

.close-cart:hover{
 color:red;
}

.carousel{
 position:relative;
}

.carousel img{
 width:100%;
 height:300px;
 object-fit:cover;
 display:block;
}

/* BOTÕES */
.carousel button{
 position:absolute;
 top:50%;
 transform:translateY(-50%);
 width:35px;
 height:35px;
 border-radius:50%;
 background:rgba(0,0,0,0.1);
 color:#fff;
 border:none;
 cursor:pointer;
 font-size:18px;
 display:flex;
 align-items:center;
 justify-content:center;
}

/* POSIÇÃO */
.prev{
 left:10px;
}

.next{
 right:10px;
}

.carousel{
 position:relative;
 overflow:hidden;
 border-radius:10px;
}

.carousel img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:12px;
}

/* ZOOM */
/*.carousel:hover img{
 transform:scale(1.15);
}
nav a{
 text-decoration:none;
 color:white;
 margin:0 15px;
 font-weight:600;
 transition:0.3s;
}
 */
.footer{
    background:#00000000;
    color:#fff;
    margin-top:50px;
    padding:40px 20px 20px;
}

.footer-container{
    max-width:1400px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
}

.footer-logo h2{
    font-size:24px;
    margin-bottom:10px;
}

.footer-logo p{
    color:#aaa;
}

.footer-links{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-links a{
    color:#fff;
    text-decoration:none;
    transition:0.3s;
}

.footer-links a:hover{
    opacity:0.7;
}

.footer-contact p{
    margin-bottom:10px;
}

.footer-copy{
    text-align:center;
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,0.1);
    font-size:13px;
    color:#aaa;
}

nav a:hover{
 opacity:0.7;
}
.home-products{
    justify-content:center;
    max-width:1600px;
    margin:auto;
}

/* RESPONSIVO MOBILE */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

@media (max-width: 768px){

header{
    flex-direction:column;
    gap:15px;
    padding:15px;
}

.footer-container{
    flex-direction:column;
    text-align:center;
}

nav{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    justify-content:center;
}

@media(max-width:768px){

  .banner{
    height: 112px;
    background-size:contain;
    background-position:center;
    margin:0;
    padding:0;
  }

}
.products,
.home-products{
    display:grid;
    grid-template-columns: 4fr ;
    gap:15px;
    padding:15px;
}

.card{
    width:100%;
}

.carousel img{
    width:100%;
    height:300px;
    object-fit:contain;
    background:#f5f5f5;
    border-radius:12px;
}

h3{
    font-size:14px;
}

.price{
    font-size:20px;
}

button{
    padding:12px;
    font-size:14px;
}

select{
    padding:10px;
}

.cart{
    width:80%;
}

.search{
    width:100%;
}

}
#toast{
    position:fixed;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    background:#111;
    color:#fff;
    padding:14px 22px;
    border-radius:10px;
    font-weight:bold;
    font-size:14px;
    opacity:0;
    pointer-events:none;
    transition:0.4s;
    z-index:9999;
}

#toast.show{
    opacity:1;
    bottom:40px;
}

@media(max-width:768px){

    #toast{
        width:85%;
        text-align:center;
        font-size:16px;
        padding:16px;
        border-radius:12px;
    }

}
.esgotado{
    background:#111;
    color:#ff4d4d;
    text-align:center;
    padding:14px;
    border-radius:8px;
    font-weight:bold;
    margin-top:10px;
}




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

